Folgendes muss man evtl einmal ausführen um die Klasse richtig zu laden. Danach kann man es ignorieren.

In [ ]:
import importlib
import DataLoader
importlib.reload(DataLoader)

In [6]:
from DataLoader import HeartFailureDataset

load_data = HeartFailureDataset()
X = load_data.get_features()
X.shape

(299, 12)

Explanation of the different attributes:

    1. Age; patient age, in years
    2. Anemia; decrease in red blood cells or hemoglobin,
    3. Creatinine; CPK enzyme levels in the blood (mcg/L),
    4. Diabetes; whether the patient is diabetic,
    5. Ejection fraction (EF); the percentage of blood that leaves the heart with each contraction
    6. High blood pressure; whether the patient has hypertension
    7. Platelets; platelets in the blood (kilo platelets/mL)
    8. Serum creatinine; serum creatinine level in the blood (mg/dL)
    9. Serum sodium; serum sodium level in the blood (mEq/L)
    10. Sex (gender); male or female
    11. Smoking; whether the patient smokes or not
    12. Time; Patient follow-up time in days

In [19]:
y = load_data.get_targets()
y

     death_event
0              1
1              1
2              1
3              1
4              1
..           ...
294            0
295            0
296            0
297            0
298            0

[299 rows x 1 columns]

Death event; death of the patient during the follow up period